[Unit]
Description=Gunicorn instance to serve cosasdetios.com
After=network.target

[Service]
User=fragmentado
Group=www-data
WorkingDirectory=/home/fragmentado/Github/cosasdetios
ExecStart=/home/fragmentado/.virtualenvs/cosasdetios/bin/gunicorn --workers 3 --bind unix:/tmp/cosasdetios.sock cosasdetios.wsgi:application

[Install]
WantedBy=multi-user.target
