<!DOCTYPE html>
{% load static from staticfiles %}
{% load thumbnail %}

<html lang="es">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="author" content="Jorge Chato"></meta>
		{% block meta%}
		<meta name="Description" content="{{ global_preferences.general_description }}"></meta>
		<meta name="Keywords" content="{{ global_preferences.general_keywords }}"></meta>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
		<meta name="theme-color" content="#D3367E"></meta>
		<meta name="twitter:card" content="summary_large_image"></meta>
		<meta name="twitter:title" content="{{ global_preferences.general_title | upper }}"></meta>
		<meta name="twitter:site" content="{{ global_preferences.general_twitter }}"></meta>
		<meta name="twitter:creator" content="{{ global_preferences.general_twitter }}"></meta>
		<meta name="twitter:description" content="{{ global_preferences.general_description }}"></meta>
		{% static 'img/logo.png' as poster%}
		{% thumbnail poster "450" format="PNG" crop="center" as im %}
		<meta name="twitter:image:src" content="{{ im.url }}"></meta>
		{% endthumbnail %}
		<base href="/" target=""/>
		<link rel="icon" href="{%  static 'img/favicon.png' %}">
		<title>{% block title %}{{ global_preferences.general_title | upper }}{% endblock %}</title>
		{% block head%}
		<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}">
		{% endblock %}
	</head>
	<body>
		{% include "_modules/head.html" %}
		{% block content%}
		{% endblock %}

		<footer>
			{% include "_modules/footer.html" %}
			{% block footer%}
			{% endblock %}
			{% include "_modules/cookies.html" %}
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>
(adsbygoogle = window.adsbygoogle || []).push({
	google_ad_client: "{{ global_preferences.general_adsId }}",
	enable_page_level_ads: true
});
			</script>
			<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{ global_preferences.general_trackingId }}', 'auto');
ga('send', 'pageview');

			</script>
		</footer>
	</body>
</html>
