{% extends "_layouts/base.html" %}

{% load i18n staticfiles %}
{% load thumbnail %}


{% block title %}{{ episode.title | title }} - {{ block.super }}{% endblock title %}


{% block content %}
<div class="container">
	{% include "_modules/nav.html" %}
</div>

{% include "podcast/poster.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			{% include "podcast/pagination_detail.html" %}

			<div id="disqus_thread"></div>
		</div>

		<div class="col-md-4">
			{% include "_modules/sidebar.html" %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'script/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'script/audioplayer.min.js' %}"></script>
<script>
$(function(){
	$('audio').audioPlayer({
		classPrefix: 'audioplayer',
		strPlay: 'Play',
		strPause: 'Pause',
	});
});
</script>
<script>
var disqus_config = function () {
	this.page.url = "http://cosasdetios.com/{{ episode.get_absolute_url }}";
	this.page.identifier = "{{ episode.pk }}";
};

(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//cosasdetios.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}
