{% load thumbnail %}
{% load i18n staticfiles %}

<section class="first-podcast parallax" style='
background-image: url("{%  static 'img/cover.png' %}");'>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<span class="episode-number">
				{% trans 'EPISODIO'%} {{ episode.index }}
			</span>
			<span>
				<time datetime="{{ episode.pub_date|date:'c' }}" title="{{ episode.pub_date|date:'c' }}">{{ episode.pub_date|date:'j F Y' }}</time>
			</span>
			<h1>
				{{ episode.title | upper }}
			</h1>
			{% if episode.description %}
			<p>{{ episode.description|safe }}</p>
			{% endif %}
			{% if episode.enclosure %}
			{% with enclosure=episode.enclosure %}

			{# Audio #}
			{% if enclosure.type == 'audio/mpeg' or enclosure.type == 'audio/x-m4a' %}
			<div id="wrapper">
				<div class="title-player">{% trans 'EPISODIO'%} {{ episode.index }} - {{ episode.title | upper }}</div>
				<audio controls>
					<source src="{{ enclosure.file.url }}">
				</audio>
			</div>
			{% endif %}

			<p><a href="{{ episode.get_absolute_download_url }}" class="pull-right download">{% trans 'Descargar' %}</a></p>
			<p>{% if show.itunes %}<a href="{{ show.itunes }}">{% endif %}<img src="{% static 'podcast/img/itunes-badge.min.svg' %}" alt="{% trans 'Get it on iTunes' %}">{% if show.itunes %}</a>{% endif %}</p>

			{% endwith %}
			{% endif %}
		</div>
	</div>
</div>
</section>
