.post-view{
  min-height: 100%;

  .posts{
    h2,h1{
      text-align: center;
    }

    .post{
      .image{
        background: #5baff2;
        @include background-size(cover);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 400px;
        max-width: 705px;
        margin: 1em 0;
      }

      .description{
        max-height: $font-size*$line-height*$lines-to-show;
        overflow: hidden;
      }
    }

    .mini{
      .image{
        width: 100%;
        margin: 1em 0;
      }


      .description{
        max-height: $font-size*$line-height*$lines-to-show-mini;
        overflow: hidden;
      }
    }
  }
}
