@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

@font-face {
  font-family: vcrosd;
  src: url(../font/VCR_OSD_MONO.ttf);
}

@font-face {
  font-family: dudesfont;
  src: url(../font/TheRainmaker.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: 'Arvo';
  font-size: $font-size;
  line-height: $line-height;
  color: black;

  a{
    text-decoration: none;
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6{
    a{
      font-weight: normal;
    }
  }
}

* {
  position: relative;
  box-sizing: border-borderox;
  -webkit-overflow-scrolling: touch;
}
