{% extends "_layouts/base.html"  %}


{% block title %}{{ category.title | title }} - {{ block.super }}{% endblock title %}

{% block meta %}
{% if category.description %}
<meta name="Description" content="{{ category.description }}"/>
{% else %}
<meta name="Description" content="{{ global_preferences.general_description }}"/>
{% endif %}
{% if category.keywords %}
<meta name="Keywords" content="{{ category.keywords }}, {{ global_preferences.general_keywords }}"/>
{% endif %}
{% endblock %}

{% block content%}
<div class="container post-view">
	{% include "_modules/nav.html" %}

	<div class="row">
		<div class="col-md-8 posts">
			{% for object in object_list %}
			{% if forloop.first %}
			<div class="post">
				<h2>
					<a href="{{ object.get_absolute_url }}">
						{{ object.title|safe }}
					</a>
				</h2>
				<a href="{{ object.get_absolute_url }}">
					{% if object.thumbnail %}
					<div class="image" style="background-image: url({{ object.thumbnail.url }});"></div>
					{% endif %}
				</a>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 description">
						<p>
						{{ object.content|safe|truncatechars:300 }}
						</p>
					</div>
				</div>
				<hr>
			</div>
			{% else %}
			<div class="row mini">
				<div class="col-md-9">
					<h3>
						<a href="{{ object.get_absolute_url }}">
							{{ object.title }}
						</a>
					</h3>
				</div>
				<div class="col-md-3">
					<a href="{{ object.get_absolute_url }}">
						{% if object.thumbnail %}
						<img src="{{ object.thumbnail.url }}" class="image">
						{% endif %}
					</a>
				</div>
			</div>
			<hr>
			{% endif %}
			{% empty %}
			<h2>NO TIENES NINGUNA HISTORIA</h2>
			{% endfor %}
			{% include "pagination.html" %}
		</div>

		<div class="col-md-4">
			{% include "_modules/sidebar.html" %}
		</div>
	</div>
</div>
{% endblock content %}
